* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1024px;
  padding: 0 1em;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding: 2em 0;
}

header.header {
  height: 60px;
  background: #1B1B1B;
  color: #fff;
  text-transform: uppercase;
  h1 {
    font-size: 32px;
    margin: 10px 0 0 0;
    float: left;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .add {
    @include button;  
    float: right;
  }
}

#notice {
  padding: 5px;
  border-radius: 3px;
  color: #1b1b1b;
  background: #ffffbf;
  position: absolute;
  top: 78px;
  left: 40%;
  text-align: center;
  width: 25%;
}

.delete {
  display: none;
}

.bookmark {
  padding: 20px 0;
  border-bottom: 1px solid #C3CCD3;
  p {
    margin: 0 0 1em 0;
  }
  .url {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  .tags {
    float: left;
  }
  .delete {
    font-size: 14px;
    float: right;
  }
  &:hover {
    .delete {
      display: block;
    }
  }
}

#search {
  width: 100%;
  font-size: 26px;
  padding: 16px 10px;
  border-radius: 6px;
  text-shadow: none;
  border: 1px solid #1b1b1b;
  margin-bottom: 20px;
  &:focus {
    outline: none;
  }
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    a {
      display: block;
      padding: 2px 6px;
      background: #ABD1EE;
      text-decoration: none;
    }
  }
}

.back {
  @include button; 
}

.index {
  padding-top: 23px;
}